
 @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    
    font-family: "Poppins", sans-serif;

    
    background-image: url('img/imagemfundo.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;    

    padding: 25px 15px;
    color: #fff;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    color: white;    
    margin: 0;
    text-shadow: 2px 2px 5px black;
}

h2 {
    font-size: 14px;
    margin-top: 8px;
    letter-spacing: 3px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 4px black;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grupo1 {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
}

.grupo2 {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
}

.btn {
    width: 80%;
    max-width: 280px;
    padding: 12px 0;
    text-align: center;

    border: 2px solid white;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(2px);

    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;

    transition: 0.3s;
}

orange {
    background: rgba(255, 102, 0, 0.85);
}

.btn:hover {
    transform: scale(1.05);
}

footer {
    padding-bottom: 15px;

    text-align: center;
    font-size: 15px;
    color: white;
    text-shadow: 1px 1px 4px black;
}

footer a {
    color: #ffd700;
    text-decoration: none; 
}